#grid-container {
}

#grid {
    display:flex;
    flex-flow:row;
}

.square {
    width: 50px;
    height: 50px;
    background-color: purple;
    outline: aqua 2px solid;
}
.add-color {
    background-color: aqua;
    outline: purple;
}