#grid-container {
}

#grid {
    display:flex;
    flex-flow:column;
    width: 50vw;
    height: 50vw;
    
}
.row {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.square {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: purple;
    outline: aqua 2px solid;
}

.add-color {
    background-color: aqua;
    outline: purple 2px solid;
}